.c-editor-article{
    width: 960px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    #atricle-content{
        display: none;
    }
    .article-title-box{
        .title{
            font-size: 40px;
            color: #000;
            text-align: center;
            padding-top: 10px;
        }
        .userInfo{
            text-align: center;
            font-size: 12px;
            color:#1890ff;
            a{
                color:#1890ff;
            }
        }
    }
}