@import "../common/less/theme.less";

.common-content-box{
    max-width: 960px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    .common-main-content{
        width: 700px;
        height: 1000px;
        background: #ffffff;
        .list-title{
            padding: 15px 20px;
            border-bottom: 1px solid @background-color;
            color: @title-color;
            font-size: 17px;
            font-weight: 400;
        }
    }
    .common-main-tool{
        width: 240px;
        height: 700px;
        background: #ffffff;
        margin-left:20px;
    }
}