.editormd-preview-close-btn{
    display: none;
}
.prettyprint ol li code{
    white-space: pre !important;
    background: #f6f6f6 !important;
    padding-right: 10px !important;
}

.prettyprint ol li{
    background: #f6f6f6 !important;
<<<<<<< HEAD
}
=======
}

>>>>>>> a925620c9eafd04f55bfc3c5c70f33ac3c0a425a
